.delivery {

    max-width: calc(50% + 600px);
    margin-left: auto;
    background-image: url('../resources/imgs/delivery-background.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 100%;
    padding-top: 150px;
    padding-bottom: 120px;
    max-height: 296px;
    padding-left: 20px;
    margin-top: 100px;

    &__title {

        position: relative;
        display: inline-block;

        span {

            font-size: 30px;
            color: #C2000D;
            display: block;
        }

        &::before {

            content: '';
            display: block;
            position: absolute;
            width: 140px;
            height: 190px;
            top: -40px;
            left: -115px;
            background-image: url('../resources/imgs/delivery-vector.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 140px auto;
        }

        &::after {

            content: '';
            display: block;
            position: absolute;
            width: 380px;
            height: 370px;
            top: -150px;
            right: -180px;
            background-image: url('../resources/imgs/delivery-round-text.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 380px auto;
        }
    }

    &__desc {

        font-size: 18px;
        margin: 30px 0 50px 0;
    }

    &__more {

        text-transform: uppercase;
    }
}

@media screen and (max-width:1150px) {

    .delivery {
    
        background-position: calc(100% + 220px) 100%;
    }
}

@media screen and (max-width:920px) {

    .delivery {
    
        padding-top: 100px;
        padding-bottom: 70px;
    }
}

@media screen and (max-width:780px) {

    .delivery {

        margin-top: 120px;
        padding-bottom: 300px;
        background-size: auto 420px;
        max-height: none;
        padding-top: 50px;

        &__title {

            line-height: 80px;

            span {

                font-size: 50px;
                line-height: 50px;
                margin-bottom: 10px;
            }
            
            &::before {

                width: 38px;
                height: 30px;
                background-image: url('../resources/imgs/delivery-vector-mobile.svg');
                background-size: auto 30px;
                top: 80px;
                left: -10px;
            }
    
            &::after {
    
                width: 215px;
                height: 190px;
                top: -90px;
                right: -30px;
                background-image: url('../resources/imgs/delivery-round-text-mobile.svg');
                background-size: 215px auto;
            }
        }

        &__desc {

            padding-right: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 22px;
        }
    }
}

@media screen and (max-width:670px) {

    .delivery {

        &__title {

            line-height: 70px;

            &::before {

                top: 70px;
                left: -15px;
            }

            span {

                font-size: 45px;
                line-height: 45px;
            }
        }
    }
}

@media screen and (max-width:540px) {

    .delivery {

        &__title {

            line-height: 60px;

            span {

                font-size: 40px;
                line-height: 40px;
            }

            &::before {

                top: 60px;
                left: -18px;
            }
    
            &::after {
    
                right: -40px;
            }
        }
    }
}

@media screen and (max-width:480px) {

    .delivery {

        background-image: url('../resources/imgs/delivery-background-mobile.png');
        background-position: 100% 100%;
        background-size: auto 302px;
        padding-bottom: 180px;

        &__title {

            line-height: 50px;

            span {

                font-size: 35px;
                line-height: 35px;
            }

            &::before {

                top: 50px;
                left: -20px;
            }
    
            &::after {
    
                right: -40px;
            }
        }
    }
}

@media screen and (max-width:420px) {

    .delivery {

        &__title {

            line-height: 45px;

            span {

                font-size: 30px;
                line-height: 30px;
            }

            &::before {

                top: 40px;
                left: -22px;
            }
    
            &::after {
    
                right: -50px;
            }
        }
    }
}

@media screen and (max-width:360px) {

    .delivery {

        &__title {

            line-height: 40px;

            span {

                font-size: 25px;
                line-height: 25px;
            }

            &::before {

                top: 30px;
                left: -23px;
            }
        }
    }
}