.header {

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    background-color: #F5EEE6;

    &__wrapper {

        display: flex;
        align-items: flex-end;
        max-width: 1400px;
        margin: 0 auto;
        padding: 25px 20px 0 20px;
        position: relative;
    }

    &__logo {

        padding-bottom: 8px;
        font-size: 0;

        & > a {

            display: inline-block;
            font-size: 0;
        }
    }

    &__menu {

        display: flex;
        justify-content: flex-start;
        margin: 0 auto;

        &-item {

            margin-right: 50px;
            color: #363636;
            text-decoration: none;
            padding-bottom: 8px;
            position: relative;

            &:last-child {

                margin-right: 0;
            }

            &::before {

                content: '';
                position: absolute;
                width: 88px;
                height: 12px;
                bottom: -2px;
                left: 50%;
                margin-left: -44px;
                background-image: url('../resources/imgs/header-menu-line.svg');
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: 100% auto;
                display: none;
            }

            &:hover::before {

                display: block;
            }
        }
    }

    &__phone {

        padding-bottom: 8px;
        font-weight: bold;
    }

    &__mobile-menu-btn {

        display: none;
        position: absolute;
        width: 23px;
        height: 23px;
        top: 50%;
        right: 20px;
        cursor: pointer;

        &-line {

            height: 1px;
            background-color: #363636;
        }
    }
}

@media screen and (max-width:1050px) {

    .header {

        &__menu {

            &-item {

                margin-right: 20px;
            }
        }
    }
}

@media screen and (max-width:780px) {

    .header {

        &__menu, &__phone {

            display: none;
        }

        &__mobile-menu-btn {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}