.skidki {

    margin-top: 190px;

    &__title-wrapper {

        margin-bottom: 30px;
        text-align: right;
    }

    &__title {

        display: inline-block;
        margin-right: 20%;
        text-align: right;

        &_red {

            color: #C2000D;
        }

        &_first {

            display: block;
        }
    }

    &__items {

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {

        display: flex;
        align-items: center;

        &-title {

            display: none;
        }

        &-procent {

            font-size: 30px;
            color: #C2000D;
            width: 140px;
            height: 140px;
            line-height: 140px;
            text-align: center;
            margin-right: 15px;
            position: relative;
            font-family: "Aqum";

            &::before {

                content: '';
                display: block;
                position: absolute;
                width: 140px;
                height: 140px;
                top: 0;
                left: 0;
                background-image: url('../resources/imgs/skidki-item-procent-image-num.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 190px auto;
            }
        }

        &:nth-child(2) {

            .skidki__item-procent {

                &::before {

                    background-image: url('../resources/imgs/skidki-item-procent-image-text.svg');
                    background-size: 200px auto;
                }
            }
        }

        &-text {

            &-title {

                font-family: "Aqum";
                font-size: 30px;
                margin-bottom: 15px;
                text-transform: uppercase;
            }

            &-desc {

                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width:780px) {

    .skidki {

        margin-top: 80px;

        &__title-wrapper {

            text-align: left;
        }

        &__title {

            margin-right: 0;
            display: flex;
            flex-direction: column;

            &_first {

                align-self: flex-end;
            }

            &_second {

                align-self: flex-start;
            }

            &_third {

                align-self: center;
            }
        }

        &__item {

            padding-top: 40px;
            position: relative;
            width: 100%;
            margin-bottom: 30px;

            &:last-child {

                margin-bottom: 0;
            }

            &-title {

                display: block;
                position: absolute;
                width: 100%;
                height: 30px;
                line-height: 30px;
                top: 0;
                left: 0;
                font-size: 25px;
                font-family: "Aqum";
                text-transform: uppercase;
            }

            &-procent {

                flex-shrink: 0;
            }

            &-text {

                &-title {

                    display: none;
                }
            }
        }
    }
}